@import url('https://fonts.googleapis.com/css2? family= Inter:wght@400;700 & family= Nosifer & family= Poppins:wght@400;500;700 & display=swap');
:root{
    --cor-preta:#000000;
    --fonte-principal:'Nosifer',sans-serif;
    --fonte-segundaria:'Inter',sans-serif;
    
}
body{
    font-family: var(--fonte-segundaria);
}

.cabecalho{
   display: flex;
   justify-content: center;
   margin-top: 3%;
}
.cabecalho__menu{
    display: flex;
    gap: 50px;
}
.cabecalho__menu__link{
    font-family: var(--font-segundaria);
    font-size: 2rem;
    font-weight: 600;
    color: var(--cor-terciaria);
    text-decoration: none;/*tirando a barra do link*/
}
.apresentacao__cabecalho{
    background-color: #000000;
}
.apresentacao__imagem{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
}
.apresentacao{
    padding: 5% 15%;
    
}
.apresentacao__titulo{
    font-family: var(--fonte-principal);
    text-align: center;
    font-size:36px ;
    font-weight: 700;
}
.apresentacao__texto{
    font-size: 26px;
}
.apresentacao__link__navegacao{ /*ultilizando um class*/
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
    display: flex; /*adicionando flexbox*/
    justify-content: center;/*traz os elementos para o centro*/
    border: 2px solid var(--cor-preta); /*fazendo as borda do botao*/
    color: var(--cor-segundaria);
    width: 30%;
    text-align: center; /*centralizando link*/
    border-radius: 8px; /*aredondando as ponta do batao*/
    font-size: 1.5rem; /*tamanho das fonte do link*/
    font-weight: 600;
    padding: 20px 0; /*ajustando as bordas do botao*/
    text-decoration: none;
    gap: 16px;
}
.Contato{
    margin-top: 1%;
}
@media (max-width: 1200px){
    .cabecalho{
        padding: 10%;
        
    }
    .cabecalho__menu__link{
        font-size: 1rem;
    }
    .cabecalho__menu{
        justify-content: center;
        gap: 10%;
        
    }
    .apresentacao__link__navegacao{
        width: 100%;
    }
    .apresentacao__imagem{
        width: 100%;
    }
    .apresentacao{
        flex-direction: column-reverse;
        padding: 5%;
        }

}

